body {
    margin: 0;
    padding: 0;
    border: 0;
    font: 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: rgb(22, 22, 22);
    background:#E8E9E9;
	font-weight: 300;
	padding: 0;
	letter-spacing: 1.2px;
	color: #1C1C1C;
	font-size: 18px;
	line-height: 1.6em;
}

body {
    position: relative; /* required for IE */
    min-height: 100%;
    width: 90%;
    margin: 0 auto; /* center the body */
}

.page-container {
	width: 100%;
}

		/* main column */
article	{
	display: block;
	position: relative;
    padding: 110px 40px 40px;
	padding-left: 30%;
	padding-right: 5%;
    line-height: 1.8em;
	color: #434343;
	min-width: 500px;
}

		/* left column */
aside {
    /* use `position: fixed` for a neat effect. use `overflow: hidden` to cut off when main column is short */
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
	overflow: hidden;
	min-width: 250px;
}

p {
    margin: 0;
    padding: 20px 0 0 0;
}

h2 {
    margin-top: 35px;
    font-size: 5em;
}

#projects {
	margin-right: auto;
	margin-left: auto;
}

#box {
	float: left;
	width: 20%;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	font-style: normal;
	margin-top: 30px;
}

ul.nav-tabs {
	list-style-type: none;
	padding-left: 0px;
	line-height: 1.9em;
	font-size: 1.1em;
}

a:link, a:visited{
	color: #3B3B3B;
    background: #E8E9E9;
	text-decoration: none;
	padding: 1px;
}

a:hover {
	border-bottom: solid;
	border-color: #EA7E0F;
	text-decoration: none;
}


a.subURL:link, a.subURL:visited{
	text-decoration: none;
	padding: 4px;
    background: #E8E9E9;
}

a.subURL:hover {
	border-bottom: solid;
	border-color: #EA7E0F;
}

#title {
	font-size: 2em;
	font-weight: 400;
	line-height: 1.2em;
    padding-bottom: 50px;
}

#links {
	padding: 10px;
	font-size: .6em;
}

#hello {
	font-weight: 200;
}

#bio {
	width: 100%;
	margin-top: -10px;
}

::selection {
	color: #D4D6C9;
	background: #C188BB; /* Safari */
	}
::-moz-selection {
	color: #D4D6C9;
	background: #C188BB; /* Firefox */
}

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

@media only screen and (max-device-width: 900px) {
    aside {
        visibility: hidden;
    }
    
    article {
        padding: 40px 40px 40px;
		width: 60%;
		font-size: 1.8em;
    }
    
    #title {
	font-size: 1.5em;
    }
    
    p {
        line-height: 1.5em;
    }
    
    #box {
	float: left;
	width: 40%;
    }

}
